python=="^3.11"
huggingface-hub==0.25.1
joblib==1.4.2
matplotlib==3.9.2
regex==2024.9.11
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
snowflake-snowpark-python==1.22.1
openai==1.37.0
transformers==4.44.2
streamlit==1.38.0

